@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WELCOME TO THE GRAND CIRCUS HOCKEY SHOP</h1>
    <p>Home of the C#.NET Crime 'Possums</p>
</div>

<div class="row">
    <h2>Register <a href="/Home/Registration">here</a></h2>
</div>